.container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
  font-family: sans-serif;
}

.main-image {
  width: 100%;
  height: auto;
  border-radius: 12px;
  margin-bottom: 20px;
}

.secondary-image {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
  border-radius: 12px;
}

.titulo-pack {
  background-color: #003366;
  color: white;
  padding: 12px;
  font-size: 22px;
  text-align: center;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: bold;
}

.imagenes-packs {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 30px;
}

.pack-card {
  position: relative;
  width: 30%;
  min-width: 200px;
}

.pack-img {
  width: 100%;
  border-radius: 10px;
}

.boton-seleccionar {
  position: absolute;
  bottom: 10px;
  left: 10px;
  right: 10px;
  background-color: black;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  opacity: 0.9;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.boton-seleccionar:hover {
  background-color: #222;
  transform: scale(1.03);
}

.oferta-banner {
  width: 100%;
  margin-top: 20px;
  border-radius: 12px;
}
